
<ion-grid id="mainGrid">
  <ion-row>
    <ion-col>
      <ion-title>{{ data.title }}</ion-title>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngIf="data.text != ''">
      <ion-text>{{ data.text }}</ion-text>
    </ion-col>
    <ion-col *ngIf="data.text == ''">
      <ion-text>{{ popoverService.message }}</ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngIf="data.button2 == 'titleScreen'">
      <ion-button [routerLink]="['/', 'title-screen']" (click)="titleScreen()">Return to TitleScreen</ion-button>
    </ion-col>
    <ion-col>
      <ion-button id="instructions" *ngIf="data.button1 == 'Start Game' || data.button1 == 'Restart'" (click)="startGame()" [disabled]="isDisabled"> {{ data.button1 }} </ion-button>
      <ion-button *ngIf="data.button1 == 'Keep Playing'" (click)="continueGame()"> {{ data.button1 }} </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>


