ion-col {
    text-align: center;
}

ion-button {
    width: 300px;
    height: 50px;
    border: #FFFFFF 4px solid;
    --color: white;
    --background: #000000;
    --border-radius: 0px;
    --background-activated: #FFFFFF;
}