
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-title>{{ data.title }}</ion-title>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-text>{{ data.text }}</ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngIf="data.button2 == 'titleScreen'">
      <ion-button [routerLink]="['/', 'title-screen']" (click)="closePopup()">Return to TitleScreen</ion-button>
    </ion-col>
    <ion-col>
      <ion-button *ngIf="data.button1 == 'Start Game' || data.button1 == 'Restart'" (click)="startGame()"> {{ data.button1 }} </ion-button>
      <ion-button *ngIf="data.button1 == 'Keep Playing'" (click)="continueGame()"> {{ data.button1 }} </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>


