ion-content {
    --background: var(--ion-color-theme);
    text-align: center;
}

.mainButton {
    width: 300px;
    height: 50px;
    border: var(--ion-color-dark) 4px solid;
    --color: var(--ion-color-dark);
    --background: #000000;
    --border-radius: 0px;
    --background-activated: var(--ion-color-dark);
}

.colorButton {
    width: 30px;
    height: 30px; 
    box-shadow: #000000;
}

#phaser {
    //margin-top: 10vh;
    margin-right: 16vw;
    //border: #FFFFFF 4px solid;
}

ion-row {
    width: 300px;
    margin-left: auto;
    margin-right: auto; 
    position: relative;
}

#cover {
    background: var(--ion-color-theme);
    width: 100%;
    height: 100%; 
    position: absolute;
}