<ion-content id="content">
  <div id="cover" *ngIf="this.popupService.instructions != false"></div> 
  <div id="phaser">
    <ion-button id="pause" color="theme" (click)="pause()">
      <ion-icon name="pause" size="large"></ion-icon>
    </ion-button>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title color="dark">Choose your color theme!</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="colorButton" color="none" style="background: #A2BDD8" (click)="popupService.colorChanged('#A2BDD8')"></ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="colorButton" color="none" style="background: #dfca86" (click)="popupService.colorChanged('#dfca86')"></ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="colorButton" color="none" style="background: #D5AAA4" (click)="popupService.colorChanged('#D5AAA4')"></ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="colorButton" color="none" style="background: #9ebd6f" (click)="popupService.colorChanged('#9ebd6f')"></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
