<ion-content>

    <ion-grid fixed=true>
        <ion-row>
            <ion-col size="12">
                <ion-img src="..\..\..\assets\sprites\OldOpenSpaceLogo.png"></ion-img>
            </ion-col>
        </ion-row>
        
        <br>
        <br>
        
        <ion-row>
            <ion-col>
                <ion-button id="start" strong=true [routerLink]="['/', 'title-screen', 'gameplay']" disabled=false (click)="this.dataService.buttonPlay()">Start Game</ion-button>
            </ion-col>
        </ion-row>
        
        <br>

        <ion-row>
            <ion-col>
                <ion-button id="options" strong=true [routerLink]="['/', 'title-screen', 'credits']" disabled=false (click)="this.dataService.buttonPlay()">Credits</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

<!-- <app-game-screen></app-game-screen> -->

</ion-content>

