<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button class="back" strong=true [routerLink]="['/', 'title-screen']" (click)="this.dataService.buttonPlay()"><ion-icon name="caret-back-outline"></ion-icon>Back</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-title class="pageTitle"><i>Project Credits</i></ion-title>
      </ion-col>
    </ion-row>

    <br>
    <br>

    <ion-row>
      <ion-col size="6">
        <ion-title class="subtitle">Stress Relief Factors and Research</ion-title>
          <ion-text>
            <br>Colours in Stress Reduction: <a href="https://www.researchgate.net/publication/314578015_The_Role_of_Colors_in_Stress_Reduction" target="_blank">
            https://www.researchgate.net/publication/314578015_The_Role_of_Colors_in_Stress_Reduction</a>
          </ion-text>
          
          <ion-text>
            <br>Music in Stress Reduction: <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3734071/" target="_blank">
            https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3734071/</a>
          </ion-text>

      </ion-col>

      <ion-col size="6">
        <ion-title class="subtitle">Acknowledgements</ion-title>
        <ion-text>
          <br>Motivational Quotes API: <a href="https://type.fit/api/quotes" target="_blank">
            https://type.fit/api/quotes</a>
        </ion-text>

        <ion-text>
          <br>Background Music: <a href="https://youtu.be/5w2BwLnbnA8" target="_blank">
            Growing Space by Astron</a>
        </ion-text>
      </ion-col>
    </ion-row>

    <br>
    <br>

    <ion-row>
      <ion-col>
        <ion-title class="subtitle">Frameworks & Software Used</ion-title>          
          <ion-text>
            <br>Ionic: <a href="https://ionicframework.com/" target="_blank">
              https://ionicframework.com/</a>
          </ion-text>

          <ion-text>
            <br>Angular: <a href="https://angular.io/" target="_blank">
              https://angular.io/</a>
          </ion-text>

          <ion-text>
            <br>Phaser 3: <a href="https://phaser.io/phaser3" target="_blank">
              https://phaser.io/phaser3</a>
          </ion-text>

          <ion-text>
            <br>Visual Studio Code: <a href="https://code.visualstudio.com/" target="_blank">
              https://code.visualstudio.com/</a>
          </ion-text>

          <ion-text>
            <br>Aseprite: <a href="https://www.aseprite.org/" target="_blank">
              https://www.aseprite.org/</a>
          </ion-text>

          <ion-text>
            <br>Famitracker: <a href="http://famitracker.com/" target="_blank">
              http://famitracker.com/</a>
          </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
