<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button class="back" strong=true [routerLink]="['/', 'title-screen']" (click)="this.dataService.buttonPlay()"><ion-icon name="caret-back-outline"></ion-icon>Back</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-title>Credits</ion-title>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-title class="subtitle"><u>Stress Relief Factors and Research</u></ion-title>
          <ion-text>
            <br>Colors in Stress Reduction: <a href="https://www.researchgate.net/publication/314578015_The_Role_of_Colors_in_Stress_Reduction">
            https://www.researchgate.net/publication/314578015_The_Role_of_Colors_in_Stress_Reduction</a>
          </ion-text>
          
          <ion-text>
            <br>Music in Stress Reduction: <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3734071/">
            https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3734071/</a>
          </ion-text>

      </ion-col>

      <ion-col size="6">
        <ion-title class="subtitle"><u>Acknowledgements</u></ion-title>
        <ion-text>
          <br>Motivational Quotes API: <a href="https://type.fit/api/quotes">
            https://type.fit/api/quotes</a>
        </ion-text>

        <ion-text>
          <br>Background Music: <a href="https://r1---sn-ni5f-t8gz.googlevideo.com/videoplayback?expire=1611789493&ei=XfIRYL6jL-v_tOUPpamRsAE&ip=0.0.0.0&id=07e2edef93281e50&itag=24&source=yt_reference&requiressl=yes&susc=ytcm&mime=audio/mpeg&vprv=1&prv=1&gir=yes&clen=2871834&dur=179.487&lmt=1589315567270560&sparams=expire,ei,ip,id,itag,source,requiressl,susc,mime,vprv,prv,gir,clen,dur,lmt&sig=AOq0QJ8wRQIhANbmEd2D4zmoZYhPLYBmyp0EEbPJMZZ7-k_4Yg8BSUseAiBod22uanNb5EKvohz9nFdiysl6-n2q91VyIoLxxZl0Hw==&cms_redirect=yes&mh=Z5&mip=24.68.24.159&mm=31&mn=sn-ni5f-t8gz&ms=au&mt=1611788431&mv=m&mvi=1&pl=22&lsparams=mh,mip,mm,mn,ms,mv,mvi,pl&lsig=AG3C_xAwRQIgI6B21GG_G9kStK73VERPoSgK2rMS0JOEaoZU46wd9qsCIQDVP1-lpVMELMBbFlViRZzEE56xz-A_3t0Z9aLWEPaEdg%3D%3D">
            Growing Space by Astron</a>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
